.login-container {
    position: relative;
    /* Aggiungi eventuali altri stili necessari */
}

.login-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; 
    z-index: -1; 
}
